@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

body {
  background-color: #e6eff5;
  font-family: "Karla";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 15px 30px 0px rgba(0, 81, 171, 0.15);
  width: 47%;
  // height: 600px;
  border: 3px solid red;
  // margin: auto;
  display: flex;
  flex-direction: column;
  min-width: 700px !important;
}

.first-div {
  height: 45%;
  // width: 100%;
  // border: 1px solid green;
  padding: 20px 0px 0px 40px;

  h2 {
    color: #2ab3b1;
    font-family: "Karla";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.3px;
  }

  .money-back-guarantee {
    color: #c0df33;
    font-family: "Karla";
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.225px;
    margin-bottom: 0px;
  }
  .gain-access {
    color: #9aa7be;
    font-family: "Karla";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.2px;
    margin-bottom: 40px;
  }
}
.second-div {
  height: 55%;
  width: 100%;
  // border: 1px solid green;
  display: flex;
  flex-direction: row;

  .left {
    width: 50%;
    // height: 100%;
    // border: 1px solid black;
    background: #2ab3b1;
    padding: 40px 0px 0px 40px;

    h3 {
      color: #fff;
      font-size: 25px;
      font-style: normal;
      font-weight: 700;
      letter-spacing: -0.225px;
    }
    .pricing {
      color: #fff;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      letter-spacing: -0.4px;
      margin-bottom: 0px;
      margin-top: 0px;

      span {
        color: #fff;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: -0.2px;
        margin-bottom: 0px;
        margin-top: 0px;
        opacity: 0.5;
      }
    }

    .one-dollar {
      color: #fff;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      // margin-bottom: 0px;
      margin-top: 0px;
    }

    button {
      // width: 237px;
      width: 60%;
      height: 48px;
      flex-shrink: 0;
      border-radius: 5px;
      background: #c0df33;
      box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
      border: none;
    }
  }
  .right {
    width: 50%;
    // height: 100%;
    // border: 1px solid teal;
    opacity: 0.7;
    background: #2ab3b1;
    // background:  hsl(204, 43%, 93%);
    padding: 40px;

    h3 {
      color: #fff;
      font-size: 25px;
      font-style: normal;
      font-weight: 700;
    }
    p {
      color: #fff;
      font-family: "Karla";
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media all and (min-width: 328px) and (max-width: 768px) {
  body {
    border: 2px solid red !important;
    height: 1000px;
  }

  .main {
    min-width: 0 !important;
    width: 350px !important;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    //  height: auto !important;

  }

  .first-div{
    padding: 20px 20px 0px 40px !important;

  }

  .second-div {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    .left,
    .right {
      // width: 100%;
      padding: 40px;
      width: initial;
    }
    .left{
      button{
        width: 95%;
      }
    }
  }
}
